@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Main container */
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Signup container */
.signupContainer {
  width: 100%;
  max-width: 400px;
  text-align: center;
  background-color: #f7f2f2;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.signupContainer h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: black;
}

.signupContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField {
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputField:focus {
  border-color: #f04e45;
  box-shadow: 0 0 5px rgba(240, 78, 69, 0.2);
}

.passwordField {
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 7px;
  top: 10px;
  cursor: pointer;
}

.submitButton {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #f04e45;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #d43f38;
}

.error {
  color: #f04e45;
}

.success {
  color: #4caf50; /* Success green */
}

.signupContainer p {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}

.loginLink {
  color: #f04e45;
  text-decoration: none;
  transition: color 0.3s ease;
}

.loginLink:hover {
  color: #d43f38;
}

/* Responsive Styles */

/* For smaller screens */
@media (max-width: 768px) {
  .mainContainer {
    padding: 10px;
  }

  .signupContainer {
    padding: 20px;
    max-width: 100%;
  }

  .signupContainer h1 {
    font-size: 24px;
  }

  .inputField {
    font-size: 14px;
    padding: 8px;
  }

  .submitButton {
    font-size: 14px;
  }

  .loginLink {
    font-size: 12px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .signupContainer {
    padding: 15px;
    max-width: 100%;
  }

  .signupContainer h1 {
    font-size: 22px;
  }

  .inputField {
    font-size: 14px;
    padding: 8px;
  }

  .submitButton {
    font-size: 14px;
    padding: 8px;
  }

  .error, .success {
    font-size: 12px;
  }

  .loginLink {
    font-size: 12px;
  }
}
